<div class='photo-card'>
  <a class="gallery__item" href="{{photoLarge}}">
    <img src='{{photoSmall}}' alt='{{photoAlt}}' loading='lazy' class='image' />
  </a>
  <div class='info'>
    <p class='info-item'>
      <b>Likes</b>
      {{photoLikes}}
    </p>
    <p class='info-item'>
      <b>Views</b>
      {{photoViews}}
    </p>
    <p class='info-item'>
      <b>Comments</b>
      {{photoComments}}
    </p>
    <p class='info-item'>
      <b>Downloads</b>
      {{photoDownloads}}
    </p>
  </div>
</div>

